<!-- Modal -->

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit your profile info!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= simple_form_for [@user] do |f| %>
         <%= f.input :name, label: 'Fullname', :input_html => { :value => current_user.name } %>
         <%= f.input :picture, label: 'Profile picture' %>
         <%= f.input :picture_cache, as: :hidden %>
         <%= f.input :description, label: 'Description' %>
         <%= f.submit "validate", class: "btn btn-primary" %>
       <% end %>
      </div>
    </div>
  </div>
</div>



<%  if current_user.is_q? == false %>
  <div class="modal fade" id="queuerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter your Queuer Info !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <%= simple_form_for [@user, Queuer.new] do |f| %>
         <%= f.input :address %>
         <%= f.input :description %>
         <%= f.input :radius %>
         <%= f.input :price_per_hour, label: "Price per Hour" %>
         <%= f.submit "Create Queuer", class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%  if current_user.is_q?%>
  <div class="modal fade" id="editqueuerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit your queuer info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <%= simple_form_for(@queuer) do |f| %>
          <%= f.input :address %>
          <%= f.input :description %>
          <%= f.input :radius %>
          <%= f.input :price_per_hour %>
          <%= f.submit "Edit Queuer", class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @reservation != nil  %>
<div class="modal fade" id="newcommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter your review !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= simple_form_for [Reservation.find(params[:id]), Review.new] do |f| %>
         <%= f.input :content %>
         <%= f.input :rating, collections: Review::RATING %>
         <%= f.submit %>
       <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="banner-profil">
  <% if @user.picture.url != nil %><%= image_tag @user.picture.url %><% else %><img src="http://www.wallspaper.fr/wallpaper/fond%20d%20%C3%A9cran%20tablette%2010%20pouces-1.jpg" alt=""> <% end %>
</div>

<div class="container-profil">
  <div class="col-sm-3 margintop">
    <div class="container-card-profil" data-aos="fade-right" data-aos-duration="1000">
      <div> <% if @user.picture.url != nil %><%= image_tag @user.picture.url %> <% else %> <img src="http://www.wallspaper.fr/wallpaper/fond%20d%20%C3%A9cran%20tablette%2010%20pouces-1.jpg" alt=""><% end %></div>
      <div class="info-profil">
        <div class="name"><h2><%= current_user.name %></h2></div>
        <div class="stars"><% if current_user.rating != nil %><h3> <% current_user.rating.round.times do %> <i class="fas fa-star"></i> <% end %> <% ((current_user.rating.round - 5) * -1 % 5).times do %> <i class="far fa-star"></i> <% end %></h3> <% else %> <% 5.times do %> <i class="far fa-star"></i> <% end %><% end %></div>
      </div>
      <div class="description"><p><%= current_user.description %></p></div>
      <div class="card-profil-bottom">
        <% if @user.is_q? == false %> <div class="btn btn-primary button" data-toggle="modal" data-target="#queuerModal">Become a Queuer!</div> <% else %> <div class="btn btn-primary button" data-toggle="modal" data-target="#editqueuerModal">Edit Queuer Info</div><% end %>
        <div class="edit-part"><h4><i data-toggle="modal" data-target="#editModal" class="fas fa-user-edit"></i></h4></div>

      </div>
    </div>

    <% i = 0 %>
    <% if current_user.is_q? %>
      <% @reviews_as_queuer.each do |review| %>
      <% if review.user != current_user %>
      <% i += 1 %>
      <div class="comment-container <% if i > 2 %> hide-comment <% end %>" data-aos="fade-right" data-aos-duration="1000">
        <div class="comment-card">
          <div class="comment-top">
            <div class="user-comment">
              <div><% if review.user.picture.url != nil %><%= image_tag review.user.picture.url, class: "avatar" %> <% else %> <img src="https://images.assetsdelivery.com/compings_v2/gmast3r/gmast3r1511/gmast3r151100776.jpg" alt="" class="avatar"><% end %></div>
              <div><%= review.user.name %></p></div>
            </div>
            <div><p><% review.user.rating.round.times do %> <i class="fas fa-star"></i> <% end %> <% ((review.user.rating.round - 5) * -1 % 5).times do %> <i class="far fa-star"></i> <% end %></p></div>
          </div>
          <div class="comment-content">
            <p><%= review.content %></p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    <% end %>

      <% @reviews_as_user.each do |review| %>
      <% if review.user != current_user %>
      <% i += 1 %>
      <div class="comment-container <% if i > 2 %> hide-comment <% end %>" data-aos="fade-right" data-aos-duration="1000">
        <div class="comment-card">
          <div class="comment-top">
            <div class="user-comment">
              <div><% if review.user.picture.url != nil %><%= image_tag review.user.picture.url, class: "avatar" %> <% else %> <img src="https://images.assetsdelivery.com/compings_v2/gmast3r/gmast3r1511/gmast3r151100776.jpg" alt="" class="avatar"><% end %></div>
              <div><%= review.user.name %></p></div>
            </div>
            <div><p><% review.user.rating.round.times do %> <i class="fas fa-star"></i> <% end %> <% ((review.user.rating.round - 5) * -1 % 5).times do %> <i class="far fa-star"></i> <% end %></p></div>
          </div>
          <div class="comment-content">
            <p><%= review.content %></p>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    <% if i > 2 %>
      <div class="arrow" data-aos="fade-up" data-aos-duration="1000">
        <h2><i class="fas fa-2x fa-sort-down"></i></h2>
      </div>
    <% end %>
  </div>



<div class="row">
  <div class="col-sm-10 offset-1 margintopmega big-dash-container" data-aos="fade-left" data-aos-duration="1000">
    <h2>Dashboard</h2>
    <div class="dash-tabs">
      <ul class="nav nav-pills mb-3" id="reservations-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="accepted-tab" data-toggle="pill" href="#accepted" role="tab" aria-controls="pills-home" aria-selected="true">Accepted</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="waiting-tab" data-toggle="pill" href="#waiting" role="tab" aria-controls="pills-waiting" aria-selected="false">Waiting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="finished-tab" data-toggle="pill" href="#finished" role="tab" aria-controls="pills-finished" aria-selected="false">Finished</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="cancelled-tab" data-toggle="pill" href="#cancelled" role="tab" aria-controls="pills-cancelled" aria-selected="false">Cancelled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="queuer-tab" data-toggle="pill" href="#queuer" role="tab" aria-controls="pills-cancelled" aria-selected="false">As Queuer</a>
        </li>
      </ul>
    </div>


    <div class="container-card-dashboard tab-content col-sm-8" id="pills-tabContent">

      <% if @user.is_q? %>
      <% @reservations_as_queuer.each do |reservation| %>
      <div class="tab-pane" id="queuer" role="tabpanel" aria-labelledby="pills-queuer-tab">
        <div class="card-dashboard queuer">
          <div><% if reservation.user.picture.url != nil %><%= image_tag reservation.user.picture.url %> <% else %> <img src="https://images.assetsdelivery.com/compings_v2/gmast3r/gmast3r1511/gmast3r151100776.jpg" alt=""><% end %></div>
          <div class="text-dashboard col-sm-9">
            <div class="top-card-dashboard">
              <div class="name"><h3><%= reservation.user.name %></h3></div>
              <div class="date"><p><%= reservation.starts_at.day %>/<%= reservation.starts_at.day %>/<%= reservation.starts_at.year %>: <%= reservation.starts_at.hour %>pm - <%= reservation.ends_at.hour %>pm</p></div>
            </div>
            <div class="description-dash"><p><%= reservation.content %></p></div>
          </div>
          <div class="button">
            <% if reservation.statut == "waiting" %>
              <div><%= link_to "Accept", statut_path(reservation), class: "btn btn-primary" %></div>
              <div><%= link_to "Decline", decline_path(reservation), class: "btn btn-warning" %></div>
            <% elsif @user.is_q? == true && reservation.statut == "process" %>
              <div><%= link_to "Confirm", statut_path(reservation), class: "btn btn-primary" %></div>
            <% elsif reservation.statut == "aborted" || reservation.statut == "declined" %>
              <div><a href="#" class="btn btn-danger">Aborted</a></div>
            <% else %>
            <div class="btn btn-warning" data-toggle="modal" data-target="#newcommentModal">Comment</div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>


      <div class="tab-content" id="pills-tabContent">
        <% if @reservations_as_user.where(statut: "process").length == 0 %>
          <p>Nothing to see here !</p>
        <% else %>
          <% @reservations_as_user.where(statut: "process").each do |reservation| %>
            <div class="tab-pane show active fade" id="accepted" role="tabpanel" aria-labelledby="pills-accepted-tab">
              <div class="card-dashboard user">
                <div><% if reservation.queuer.user.picture.url != nil %><%= image_tag reservation.queuer.user.picture.url %> <% else %> <img src="https://images.assetsdelivery.com/compings_v2/gmast3r/gmast3r1511/gmast3r151100776.jpg" alt=""><% end %></div>
                <div class="text-dashboard col-sm-9">
                  <div class="top-card-dashboard">
                    <div class="name"><h3><%= reservation.queuer.user.name %></h3></div>
                    <div class="date"><p><%= reservation.starts_at %> - <%= reservation.ends_at %></p></div>
                  </div>
                  <div class="description-dash"><p><%= reservation.statut %><%= reservation.content %></p></div>
                </div>
                <div class="button">
                    <div><a href="#" class="btn btn-primary">Accepted</a></div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if @reservations_as_user.where(statut: "waiting").length == 0 %>
        <div class="tab-pane fade" id="waiting" role="tabpanel" aria-labelledby="pills-waiting-tab">
          <p>Nothing to see here !</p>
        </div>
        <% else %>
          <% @reservations_as_user.where(statut: "waiting").each do |reservation| %>
            <div class="tab-pane fade" id="waiting" role="tabpanel" aria-labelledby="pills-waiting-tab">
              <div class="card-dashboard user">
                <div><% if reservation.queuer.user.picture.url != nil %><%= image_tag reservation.queuer.user.picture.url %> <% else %> <img src="https://images.assetsdelivery.com/compings_v2/gmast3r/gmast3r1511/gmast3r151100776.jpg" alt=""><% end %></div>
                <div class="text-dashboard col-sm-9">
                  <div class="top-card-dashboard">
                    <div class="name"><h3><%= reservation.queuer.user.name %></h3></div>
                    <div class="date"><p><%= reservation.starts_at %> - <%= reservation.ends_at %></p></div>
                  </div>
                  <div class="description-dash"><p><%= reservation.statut %><%= reservation.content %></p></div>
                </div>
                <div class="button">
                    <div><%= link_to "Cancel", decline_path(reservation), class: "btn btn-warning" %></div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <% @reservations_as_user.where(statut: "finished").each do |reservation| %>
          <div class="tab-pane fade" id="finished" role="tabpanel" aria-labelledby="pills-finished-tab">
            <div class="card-dashboard user">
              <div><% if reservation.queuer.user.picture.url != nil %><%= image_tag reservation.queuer.user.picture.url %> <% else %> <img src="https://images.assetsdelivery.com/compings_v2/gmast3r/gmast3r1511/gmast3r151100776.jpg" alt=""><% end %></div>
              <div class="text-dashboard col-sm-9">
                <div class="top-card-dashboard">
                  <div class="name"><h3><%= reservation.queuer.user.name %></h3></div>
                  <div class="date"><p><%= reservation.starts_at %> - <%= reservation.ends_at %></p></div>
                </div>
                <div class="description-dash"><p><%= reservation.statut %><%= reservation.content %></p></div>
              </div>
              <div class="button">
                <div class="btn btn-warning" data-toggle="modal" data-target="#newcommentModal">Comment</div>
              </div>
            </div>
          </div>
        <% end %>

        <% @reservations_as_user.where(statut: "aborted").each do |reservation| %>
          <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="pills-finished-tab">
            <div class="card-dashboard user">
              <div><% if reservation.queuer.user.picture.url != nil %><%= image_tag reservation.queuer.user.picture.url %> <% else %> <img src="https://images.assetsdelivery.com/compings_v2/gmast3r/gmast3r1511/gmast3r151100776.jpg" alt=""><% end %></div>
              <div class="text-dashboard col-sm-9">
                <div class="top-card-dashboard">
                  <div class="name"><h3><%= reservation.queuer.user.name %></h3></div>
                  <div class="date"><p><%= reservation.starts_at %> - <%= reservation.ends_at %></p></div>
                </div>
                <div class="description-dash"><p><%= reservation.statut %><%= reservation.content %></p></div>
              </div>
              <div class="button">
                <div><p class="btn btn-danger">Cancelled</p></div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
  </div>

