<h1>Edit queuer:</h1>
<%= simple_form_for([@user, @queuer]) do |f| %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :radius %>
  <%= f.input :price_per_hour %>
  <%= f.submit "Edit Queuer", class: "btn btn-primary" %>
<% end %>
