<%= render './pages/signinmodal' %>
<div class="container">
  <div class="row my-3">
    <div class="col-10 offset-1">
      <div class="search-banner">
      <h1 class="text-center">Find the perfect fit amongst our <b><%= @queuers.size * 13 %></b> queuers ! </h1>
        <div class="search-form text-center">
            <%= form_tag queuers_path, method: :get, :class => "form-inline" do %>
              <div class="form-items m-1">
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "In which city do you need a Queuer ?"
                %>
              </div>
              <div class="form-items m-1">
                <%= text_field_tag :price,
                  params[:price],
                  class: "form-control",
                  placeholder: "Filter by price"
                %>
              </div>
              <div class="form-items m-1">
                <%= text_field_tag :rating,
                  params[:rating],
                  class: "form-control",
                  placeholder: "Filter by rating"
                %>
              </div>
              <%= submit_tag "Filter", class: "btn btn-primary filter-button mx-3" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>

​
<div class="container-bis grid-queuer">
  <div class="d-flex">
    <div class="grid col-sm-6">
      <% @queuers.each do |queuer| %>
        <div class="card-queuer" data-aos="fade-up" data-aos-duration="1000">
          <div class="card-queuer-picture-container">
            <% if queuer.user.picture.url != nil %>
              <%= image_tag queuer.user.picture.url, class: "image" %>
            <% else %>
              <img src="http://www.wallspaper.fr/wallpaper/fond%20d%20%C3%A9cran%20tablette%2010%20pouces-1.jpg" alt="" class="image">
            <% end %>
            <div class="default-display" >
              <%= link_to queuer_path(queuer) do %>
                <img src="https://cdn.shopify.com/s/files/1/2828/2118/files/eyeball-01-01_300x300.png?v=1517086367" class="fas fa-eye first-icon">
              <% end %>
              <%= link_to new_queuer_reservation_path(queuer) do  %>
                <i class="fas fa-forward second-icon"></i>
              <% end %>
            </div>
          </div>
          <div class="card-queuer-infos">
            <div>
              <h2><%= link_to queuer.user.name, queuer_path(queuer) %></h2>
              <p><b>Area:</b> <%= queuer.address %></p>
            </div>
            <h2 class="card-queuer-pricing">€<%= queuer.price_per_hour %></%>/hour</h2>
          </div>
        </div>
      <% end %>
    </div>
    <div id="map" style="width: 100%; height: 100vh; position: sticky; top: 100px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>

