<%= render './pages/signinmodal' %>

  <div id="map" style="width: 100vw; height: 40vh; position: absolute;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

<div class="container-queuer">
  <div class="col-sm-4 mt-3 mb-3">
    <div class="container-card-queuer" data-aos="fade-right" data-aos-duration="1000">
      <div>
        <% if @queuer.user.picture.url != nil %>
          <%= image_tag @queuer.user.picture.url %>
        <% else %>
          <img src="http://www.wallspaper.fr/wallpaper/fond%20d%20%C3%A9cran%20tablette%2010%20pouces-1.jpg" alt="">
        <% end %>
      </div>
      <div class="price">
        <h3><%= @queuer.price_per_hour %>€<br>/hour</h3>
      </div>
      <div class="info-profil">
        <div class="name">
          <h2><%= @queuer.user.name %></h2>
        </div>
        <div class="stars">
          <% if @queuer.user.rating != nil %>
            <h3>
              <% @queuer.rating.round.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - @queuer.rating).times do %>
                <i class="far fa-star"></i>
              <% end %>
            </h3>
          <% else %>
            <% 5.times do %>
              <i class="far fa-star"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="description">
        <p><span style="font-weight: bolder;">Address: </span><%= @queuer.address %></p>
          <p><%= @queuer.description %></p>
      </div>
    </div>

    <% i = 0 %>
    <% @queuer.reviews.each do |review| %>
      <% if review.user != @queuer.user %>
        <% i += 1 %>
        <div class="comment-container-show mt-3 <% if i > 2 %> hide-comment <% end %>" data-aos="fade-right" data-aos-duration="1000">
          <div class="comment-card-show">
            <div class="comment-top-show">
              <div class="user-comment-show">
                <div>
                  <% if review.user.picture.url != nil %>
                    <%= image_tag review.user.picture.url, class: "avatar" %>
                  <% else %>
                    <img src="https://images.assetsdelivery.com/compings_v2/gmast3r/gmast3r1511/gmast3r151100776.jpg" alt="" class="avatar">
                  <% end %>
                </div>
                <div>
                  <p><%= review.user.name %></p>
                </div>
              </div>
              <div>
                <p>
                  <% review.user.rating.round.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% ((review.user.rating.round - 5) * -1 % 5).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="comment-content">
              <p><%= review.content %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @queuer.reviews.length != 0 && i > 2 %>
      <div class="arrow" data-aos="fade-up" data-aos-duration="1000">
        <h2>
          <i class="fas fa-2x fa-sort-down"></i>
        </h2>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 offset-1 mt-3 big-dash-container form-reservation" data-aos="fade-left" data-aos-duration="1000">
    <h1 style="font-weight:bolder;">Reservation</h1>
    <div>
      <%= simple_form_for [@queuer, Reservation.new] do |f| %>
        <%= f.input :starts_at, as: :string, label: "Start queueing from", input_html: {class: "datepicker"} %>
        <%= f.input :ends_at, as: :string, label: "To", input_html: {class: "datepicker"} %>
        <%= f.input :address, label: "Address" %>
        <%= f.input :content, label: "Request additional information" %>
        <%= f.submit class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div id="map" style="width: 100%; height: 50%; position: sticky; top: 100px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
</div>
