
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
  <h1 class="text-center">This particular Queuer:</h1>
  <div class="container-card-queuer"><
    <h3><%= @queuer.user.name %></h3>
    <p><%= @queuer.address %> for a perimeter of <%= @queuer.radius %>km.</p>
    <h4><%= link_to "Back", queuers_path %></h4>
    <h4><%= link_to "Edit", edit_queuer_path(@queuer) %></h4>
    <h4><%= link_to "Delete", queuer_path(@queuer), method: :delete %></h4>

    <h4><%= link_to "Create Reservation", new_queuer_reservation_path(@queuer) %></h4>
      </div>
    </div>
  </div>
</div>
