<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://medias.pylones.com/9633-thickbox_default/horloge-happy-time.jpg", class: "avatar" %>
  <% end %>


  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" style="flex-direction: row;">
      <% if user_signed_in? %>
        <div>
          <%= link_to user_path(current_user) do %>
          <li class="nav-item active">Profil</li>
          <% end %>
        </div>
        <div>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <li class="nav-item active">Logout</li>
          <% end %>
        </div>
      <% else %>
        <div>
          <%= link_to new_user_registration_path do %>
          <li class="nav-item active">Sign in</li>
          <% end %>
        </div>
        <div>
          <li class="nav-item active login">Login</li>
        </div>
      <% end %>
    </ul>
  </div>
</div>
