<%#= render "header" %>

<%= render 'signinmodal' %>

<div class="mybody">
  <div class="banner">
    <div class="banner-image">
      <div class="banner-content-container">
        <div class="text-banner">
          <h1 class="title-banner toop">Buy yourself some free time <br> Pay people to queue for you</h1>
        </div>
        <div>
          <div class="banner-form">
            <%= form_tag queuers_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "In which city do you need a Queuer ?"
              %>
              <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container-card mx-0">
      <div class="card p-0" data-aos="fade-up" data-aos-duration="1000">
        <div>
          <img src="https://www.shareicon.net/data/128x128/2017/07/13/888373_idea_512x512.png" alt="">
        </div>
        <div>
          <h3>Trusthworthy</h3>
        </div>
        <div>
          <p>Queuers are peer-rated and regularly reviewed by our team to make sure only the most trustworthy people are queuing for you </p>
        </div>
      </div>
      <div class="card p-0" data-aos="fade-up" data-aos-duration="1000">
        <div>
          <img src="https://www.shareicon.net/data/128x128/2017/07/13/888380_business_512x512.png" alt="">
        </div>
        <div>
          <h3>Secure</h3>
        </div>
        <div>
          <p>Pay through our encrypted services so you don't have to handle cash with queuers. Don't worry we use only the best in encryption technology ! </p>
        </div>
      </div>
      <div class="card p-0" data-aos="fade-up" data-aos-duration="1000">
        <div>
          <img src="https://www.shareicon.net/data/128x128/2017/07/13/888381_globe_512x512.png" alt="">
        </div>
        <div>
          <h3>Fast</h3>
        </div>
        <div>
          <p>Need to queue for something at the last minute ? Don't worry we have queuers available on the spot in most trendy neighbourhoods of your city</p>
        </div>
      </div>
    </div>

    <div class="middle mx-0 px-0" data-aos="fade-up" data-aos-duration="1000">
      <div class="middle-info-container">
        <div>
          <h2 class="middle-text">Stop queuing, start living</h2>
        </div>
        <div>
          <%= link_to "Search for a Queuer", queuers_path, class: "btn btn-warning" %>
        </div>
      </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-duration="1000">
      <h2 class="col-6 offset-3 card-title">Need some extra cash ? Become Queuer !</h2>
      <div class="container-card mx-0">
        <div class="card p-0">
          <div>
            <img src="https://www.shareicon.net/data/128x128/2017/07/13/888370_business_512x512.png" alt="">
          </div>
          <div>
            <h3>Looking for some easy money ?</h3>
          </div>
          <div>
            <p>Sell your time for money, it's that easy. Become a queuer and start getting paid to wait in line for people paying you up to 20$ per hour</p>
          </div>
        </div>
        <div class="card p-0">
          <div>
            <img src="https://www.shareicon.net/data/128x128/2017/07/13/888383_time_512x512.png" alt="">
          </div>
          <div>
            <h3>Set your own price</h3>
          </div>
          <div>
            <p>Time is a free market ! Set your own price, only you can value the time you have. In the future we will be providing you with price suggestions</p>
          </div>
        </div>
        <div class="card p-0">
          <div>
            <img src="https://www.shareicon.net/data/128x128/2017/07/13/888369_mobile_512x512.png" alt="">
          </div>
          <div>
            <h3>Your time your rules</h3>
          </div>
          <div>
            <p>You set the neighboorhood, the types of queues, and can accept or decline any queue reservation. Checkout your clients' profiles beforehand</p>
          </div>
        </div>
      </div>
      <div class="btn btn-warning col-4 offset-4 my-3" data-toggle="modal" data-target="#signinModal">Become a Queuer</div>
    </div>
  </div>
</div>

<%#= render "footer" %>
