 <h1>Add reservation</h1>

<%= simple_form_for [@user, @reservation] do |f| %>
  <%= f.input :starts_at %>
  <%= f.input :ends_at %>
  <%= f.input :content %>
  <%= f.input :address %>
  <%= f.submit class: "btn btn-danger" %>
<% end %>
